.contact {
  padding: 4rem 0;
}

.contact__title {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: var(--offset-regular);
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  & > * {
    flex-grow: 1;
    flex-basis: 10rem;
  }
}

.textarea {
  flex-basis: 100%;
  min-height: 6rem;
  margin-bottom: 1rem;
}

.contact-btn {
  flex-grow: 0;
}

@media (min-width: 1024px) {
  .contact__title {
    font-size: var(--fs-big);
    text-align: left;
    margin-bottom: var(--offset-big);
  }
}
