.header {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.logo {
  position: relative;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1px;
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 1.875rem;
    height: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--clr-red);
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  min-height: 100vh;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--clr-grey);
  transition: var(--transition-primary);
  transform: translateX(-100vw);
  &.show-modal {
    transform: translateX(0);
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2.875rem;
  text-align: center;
}

.nav__link {
  text-transform: uppercase;
  font-size: 1.5rem;
  &:hover {
    opacity: 0.8;
  }
}

.header__right {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.language {
  position: relative;
  text-transform: uppercase;
  padding-right: 1rem;
  transition: var(--transition-primary);
  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0.6rem;
    right: 0;
    width: 0;
    height: 0;
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    border-top: 0.4rem solid var(--clr-primary);
  }
  &:hover {
    background-color: var(--clr-snow);
  }
}

.contact-button {
  display: none;
  position: relative;
  color: var(--clr-red);
  border-radius: 0.5rem;
  box-shadow: var(--shadow-primary);
  padding: 1.5rem 2rem;
  padding-right: 4rem;
  text-transform: capitalize;
  cursor: pointer;
  &:after {
    content: url('../img/arrow.svg');
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (min-width: 1024px) {
  .contact-button {
    display: block;
  }
  .nav {
    position: static;
    transform: translateX(0);
    min-height: auto;
    background-color: transparent;
    &__list {
      flex-direction: row;
      text-transform: capitalize;
    }
    &__link {
      text-transform: capitalize;
      font-size: var(--fs-body);
    }
  }
  .header__logo {
    position: absolute;
    left: 12rem;
  }
}
