@mixin font-face(
  $font-family,
  $url,
  $format,
  $font-weigth: normal,
  $font-style: normal
) {
  @font-face {
    font-family: $font-family;
    src: url($url) format($format);
    font-weight: $font-weigth;
    font-style: $font-style;
  }
}
