* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Work Sans, sans-serif;
  font-size: var(--fs-primary);
  color: var(--clr-primary);
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: var(--fs-huge);
}

h2 {
  font-size: var(--fs-big);
}

.container {
  width: 87vw;
  max-width: 1170px;
  margin: 0 auto;
}

.btn-primary {
  text-align: center;
  min-width: 12.5rem;
  box-shadow: var(--shadow-primary);
  transition: var(--transition-primary);
  border-radius: 1.75rem;
  color: var(--clr-white);
  background-color: var(--clr-red);
  padding: 1.1rem 2.25rem;
  &:hover {
    background-color: var(--clr-red-orange);
  }
}

.form-input,
.textarea {
  padding: 1.25rem;
  color: var(--clr-primary);
  background-color: var(--clr-foam);
  border: none;
  &::placeholder {
    color: var(--clr-primary);
    opacity: 0.9;
  }
}

.textarea {
  resize: none;
}

.modal-shadow {
  box-shadow: var(--modal-background);
}
