:root {
  // colors
  --clr-primary: hsl(226, 46%, 35%);
  --clr-red: hsl(356, 100%, 61%);
  --clr-text: hsl(205, 5%, 45%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(0, 0%, 90%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-red-orange: hsl(16, 94%, 49%);
  --clr-snow: hsl(300, 100%, 99%);
  --clr-foam: hsl(204, 83%, 98%);
  // font size
  --fs-primary: 1.125rem;
  --fs-huge: 4.5rem;
  --fs-big: 3rem;
  // line height
  --lh-huge: 6rem;
  --lh-big: 3.75rem;
  //offsets
  --offset-big: 3.5rem;
  --offset-regular: 2rem;
  // transitions
  --transition-primary: all 0.3s linear;
  // shadows
  --shadow-primary: 0 0.325rem 0.625rem hsla(194, 34%, 15%, 0.15);
  --modal-background: 0 0 0 1000rem rgba(0, 0, 0, 0.4);
}
